.navbarContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 665px;
	width: 39%;
	background-color: #F9F1FD;
	border-radius: 32px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.myIdNavigation {
	display: flex;
	flex-direction: column;
	gap: 44px;
	height: 359px;
	width: 296px;
}

.myId {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-self: center;
	gap: 8px;
	background-color: #F5E6FE;
	width: 296px;
	height: 99px;
	border-radius: 16px;
	margin-top: 32px;
}

.myId img {
	width: 65px;
	height: 67px;
}

.nameJob {
	display: flex;
	flex-direction: column;
}

.nameJob h1 {
	font-size: 24px;
	font-family: "Josefin Sans", sans-serif;
	color: #45264E;
	font-weight: 600;
}

.nameJob h2 {
	font-size: 16px;
	font-family: "Josefin Sans", sans-serif;
	color: #C2A9D0;
	font-weight: 400;
}

.navigation {
	display: flex;
	flex-direction: column;
	align-self: center;
	width: 296px;
	gap: 24px;
}

.navigation a {
	padding-left: 24px;
	font-size: 20px;
	font-weight: 400;
	font-family: "Josefin Sans", sans-serif;
	color: #45264E;
	opacity: 0.8;
}

.navigation a:hover {
	text-decoration: underline;
    text-decoration-color: #F0B2CD;
    text-underline-offset: 6px;
}

.navigation a.active {
	font-weight: 600;
	opacity: 1;
	text-decoration: underline;
    text-decoration-color: #F0B2CD;
    text-underline-offset: 6px;
}

.line {
	color: #C2A9D0;
	opacity: .4;
}

.socialMedia {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.socialMedia h1 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 22px;
	font-weight: 400;
	color: #45264E;
}

.socialMediaLinks {
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding-left: 24px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	font-weight: 400;
}

.socialMediaLinks a {
	display: flex;
	flex-direction: row;
	line-height: 160%;
	gap: 8px;
	color: #45264E;
}

.socialMediaLinks a:hover {
	text-underline-offset: 6px;
	text-decoration: underline;
	text-decoration-color: #b980cc;
}
.logoSocialMedia {
	font-size: 24px;
}